body {
font-family: Arial, sans-serif;
text-align: center;
}
#grid {
display: grid;
grid-template-columns: repeat(10, 40px);
gap: 5px;
justify-content: center;
margin: 20px;
}
.cell {
width: 40px;
height: 40px;
background-color: white;
border: 1px solid gray;
cursor: pointer;
}
.cell.active {
background-color: rgb(0, 126, 15);
}

#message {
margin-top: 20px;
font-size: 18px;
}