body {
  background-color: #bcaaff;
  font-family: Garamond, serif;
  color: #ffffff;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  line-height: 1.3;
}

h1 {
  color: #1b1952;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-bottom: 5px;
}

h2 {
  color: #1b1952;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  margin-top: 0px;
}


.stanza-1 {
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  margin: 30px 0;
  padding: 10px;
  border-left: 4px solid #070052;
  background-color: #0c008f;
}

.stanza-2 {
  color: #000000;
  font-size: 18px;
  text-align: justify;
  margin: 30px 0;
  padding: 10px;
  border-left: 4px solid #008b8b;
  background-color: #28f1f1;
}

.stanza-3 {
  color: #000000;
  font-size: 18px;
  text-align: justify;
  margin: 30px 0;
  padding: 10px;
  border-left: 4px solid #b14700;
  background-color: #fb7e2b;
}

.stanza-4 {
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  margin: 30px 0;
  padding: 10px;
  border-left: 4px solid #24ff3a;
  background-color: #004707;
}